# textdomain wesnoth-RotR

[scenario]
    id=08_Double_Down
    name=_"Double Down" # displayed scenario name
    map_data="{~add-ons/Revenge_of_the_Rogue/maps/08_Double_Down.map}"
    {DEFAULT_SCHEDULE}
    turns=20
    victory_when_enemies_defeated=yes

    [side]
        side=1
        controller="human"
	team_name=1 # used to determine which side is enemy or allied
	# wmllint: local spelling foo
	user_team_name= _ "Rogues" # visible to the user

	##:: Leader Info
	type=Rogue
	id=Edwin
	name=_"Edwin"
	gender=male
	canrecruit=yes
	unrenamable=true

	##:: Recruit List
	recruit=Ruffian,Woodsman,Thief,Elvish Shaman,Dwarvish Fighter,Dwarvish Thunderer,Dwarvish Guardsman,Dwarvish Scout
        shroud=yes

	##:: Gold and Income
	{GOLD 150 75 50}
	{INCOME 10 5 3}

    [/side]
    ##|| Enemy
    [side]
	##:: Side Info
	side=2
	controller=ai
	team_name=2
	user_team_name= _ "Northerners"

	##:: Leader Info
	type=Troll Hero
	id=Yam
	name=_"Yam"
	gender=male
	canrecruit=yes
	unrenamable=true

	##:: Recruit List
	recruit=Troll Whelp
	##:: Gold and Income
        [unit]
            type=Troll Shaman
            x=2
            y=13
            side=2
            [status]
                guardian=yes
            [/status]
        [/unit]
        [unit]
            type=Troll
            x=12
            y=11
            side=2
            [status]
                guardian=yes
            [/status]
        [/unit]
        [unit]
            type=Troll Rocklobber
            x=24
            y=9
            side=2
            [status]
                guardian=yes
            [/status]
        [/unit]


	{GOLD 50 100 200}
	{INCOME 3 5 10}
    [/side]

    [side]
	##:: Side Info
	side=3
	controller=ai
	team_name=2
	user_team_name= _ "Northerners"

	##:: Leader Info
	type=Blood Bat
	id=BigBat
	name=_"Big Bat"
	gender=male
	canrecruit=yes
	unrenamable=true

	##:: Recruit List
	recruit=Vampire Bat
	##:: Gold and Income
	{GOLD 10 100 200}
	{INCOME 3 5 10}
        [unit]
            type=Vampire Bat
            x=32
            y=12
            side=3
            [status]
                guardian=yes
            [/status]
        [/unit]


    [/side]
    
    ##|| Events ||##

    ##|| Starting Stuff
    [event]
        name=prestart
        
    [/event]


    [event]
	name=start
        [recall]
            id=Sini
        [/recall]
        [recall]
            id=Karduras
        [/recall]
        [recall]
            id=Henna
        [/recall]
        [recall]
            id=Hamalas
        [/recall]
        [recall]
            id=Gomalnar
        [/recall]
        [recall]
            id=Pelaithstorn
        [/recall]
        [recall]
            id=Hamdras
        [/recall]
        [recall]
            race=dwarf
        [/recall]
        [recall]
            race=human
        [/recall]
        [recall]
            race=human
        [/recall]
        [recall]
            race=human
        [/recall]

	[message]
	    speaker=narrator
	    image=wesnoth-icon.png
	    message=_"The band enters into the entrance hall of the Dwarven Kingdom, only to be met with another pack of Orcs."
	[/message]
	[message]
	    race=dwarf
	    message=_"Home sweet home."
	[/message]
	[message]
	    race=elf
	    message=_"I can no longer feel the forest, it is strange."
	[/message]
	[message]
	    speaker=Edwin
	    message=_"More Orcs. Company, to arms!"
	[/message]
	[objectives]
	    side=1
	    [objective]
		description= _ "Defeat the enemy leader"
		condition=win
	    [/objective]
	    [objective]
				description= _ "Death of Edwin"
		condition=lose
	    [/objective]
	    {TURNS_RUN_OUT}
	    [gold_carryover]
		bonus=yes
		carryover_percentage=40
	    [/gold_carryover]
	[/objectives]
    [/event]

[/scenario]